$grey-color: #dbdbdb;

@mixin set-border-none {
  &:nth-child(1) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: none;
  }

  &:nth-child(3) {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: none;
  }
}

.order-summary {
  &__no-item {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__title {
    border-bottom: 1px solid #afafaf;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__cart-item {
    display: flex;
    padding-bottom: 2.5rem;
    margin-top: 2.5rem;
    border-bottom: 1px solid $grey-color;

    &:last-child {
      border-bottom: none;
    }
  }

  &__photo {
    box-sizing: border-box;
    background-color: #f3f3f3;
    border: 1px solid #dadada;
    border-radius: 1.5rem;
    max-width: 15rem;
    width: 100%;
    height: 20rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  &__wrapper-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 4rem 2rem;
  }

  &__information {
    display: flex;
    justify-content: space-between;
    color: #706e6e;
    margin-bottom: 2rem;

    .main-information {
      &__product-name {
        font-size: 2.3rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      &__price {
        font-size: 1.8rem;
        font-weight: 100;
      }
    }

    .price {
      color: black;
      font-weight: 500;
      font-size: 2.5rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    .quantity {
      button.MuiButtonBase-root {
        padding: 0.75rem;
        border: 1px solid $grey-color;
        @include set-border-none;
      }

      button.MuiButtonBase-root:hover {
        border: 1px solid $grey-color;
        @include set-border-none;
      }

      &__text {
        font-size: 1.8rem;
        padding-left: 0.5rem;
        padding-right: 0.55rem;
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        border-top: 1px solid $grey-color;
        border-bottom: 1px solid $grey-color;
      }
    }

    .actions {
      &__delete {
        text-transform: none;
        color: #8f8f8f;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
}