$grey-color: #dbdbdb;

@mixin set-border-none {
  &:nth-child(1) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: none;
  }

  &:nth-child(3) {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: none;
  }
}

.payment-form {
  &__title {
    border-bottom: 1px solid #afafaf;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__list {
    background-color: #EEEEEE;
    padding: 1.5rem !important;
  }

  &__list-item {
    &:last-child {
      margin-bottom: unset;
    }

    border: 1px solid #9BA4B5;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
  }

  &__list-item-text {
    &>span {
      font-size: 1.5rem;
    }

    &.product-name {
      &>span {
        font-weight: 500;
      }
    }

    &.product-price {
      display: flex;
      align-items: center;
    }

    &.product-total {
      text-align: end;
      border-left: 1px solid;

      &>span {
        font-weight: 700;
      }
    }
  }

  &__order-total {
    font-size: 1.75rem !important;
    font-weight: 500 !important;
  }

  &__order-button {
    padding: 1.25rem !important;
    line-height: 2 !important;
    font-size: 1.2rem !important;
  }

  &__no-item {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
  }
}